{% extends 'base.html' %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block content %}
<div class="sixteen columns">
        <h3 class="entry-title"><a href="{{article.url}}" title="Permalink to {{article.title}}">{{article.title}}</a></h3>

        <div id="tweet">{% include "twitter.html" %}</div>
        <div id="entrymeta">{{article.locale_date}}</div>

  <br/>
        <div class="entry-content">
          {{article.content}}

          <p id="footer-message">{{ ARTICLE_FOOTER }}</p>

          {% if article.related_posts %}
          <div id="related-posts">
            <h4>Related Posts</h4>
            <ul>
              {% for post in article.related_posts %}
              <li><a href="/{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
            <br/>
          </div>
          {% endif %}

          <div><a href="{{ SITEURL }}">← Back to Home</a></div>
          <br/>
          </div>
        </div>
{% endblock %}
