{% extends 'base.html' %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block content %}
<div class="sixteen columns">
        <h3 class="entry-title"><a href="{{article.url}}" title="Permalink to {{article.title}}">{{article.title}}</a></h3>

        <div id="tweet">{% include "twitter.html" %}</div>
        <div id="entrymeta">{{article.locale_date}}</div>

  <br/>
        <div class="entry-content">
          {{article.content}}

          <p id="footer-message">{{ ARTICLE_FOOTER }}</p>

          <hr/>
          {% if article.related_posts %} 
          <div id="related-posts">
            <h4>Related Posts</h4>
            <ul>
              {% for post in article.related_posts[:3] %}
              <li><a href="/{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
            <br/>
          </div>
          {% endif %}

          <div style="text-align:center;">
            <a id="displayText" href= "#disqus_thread"
          onclick="javascript:toggle();">Comments</a>
          <div id="toggleDiv" style="display: none">{% include
          "disqus.html" %}</div>
          </div>

          <div><a href="{{ SITEURL }}">← Back to Home</a></div>
          <br/>
          </div>
        </div>

<script language="javascript"> 
function toggle() {
    var ele = document.getElementById("toggleDiv");
    var text = document.getElementById("displayText");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        text.innerHTML = "show";
    }
    else {
        ele.style.display = "block";
        text.innerHTML = "";
    }
} 
</script>

<!-- Disqus -->
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'samratmansingh'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
        
{% endblock %}
