<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{SITENAME}}</title>
	<meta name="description" content="Skeleton: Beautiful Boilerplate for Responsive, Mobile-Friendly Development">
	<meta name="author" content="Dave Gamache">
	<meta property="twitter:account_id" content="17346623" />
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{SITEURL}}/{{MEDIA_URL}}stylesheets/base.css">
	<link rel="stylesheet" href="{{SITEURL}}/{{MEDIA_URL}}stylesheets/skeleton.css">
	<link rel="stylesheet" href="{{SITEURL}}/{{MEDIA_URL}}stylesheets/layout.css">
	<link rel="stylesheet" href="documentation-assets/docs.css">

	<!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="src/images/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="src/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="src/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="src/images/apple-touch-icon-114x114.png">

</head>
  <body>
    <div class="container">
      <hr id="page-top"/>
      <header>
        <a href="{{ SITEURL }}">
          <h1 class="site-title">{{SITENAME}}</h1></a>
        18-year old from Nepal interested in computers and technology.
      </header>
      <div id="nav">
        <ul>
          <li><a href="{{ SITEURL }}">Home</a></li>
          <li><a href="http://github.com/samrat">Github</a></li>
          <li><a href="http://twitter.com/samratmansingh">Twitter</a></li>
          <li><a href="mailto:samrat@samrat.me">Email</a></li>
          <li><a href="http://feeds.feedburner.com/samratdotme">Feed</a></li>
        </ul>
      </div>
      <hr class = "large"/>
    </div>

    <div class="container">
      
        <section id ="content">
          {% block content %}{% endblock %}
        </section>
        
   <hr /> 
    </div>
</body>
                                          
